body, ul, li, p{

margin:0px;
padding:0px;
list-style: none;
font-size: 1.3rem;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a{
    text-decoration: none;
    color:aqua;
}

header{
    display: flex;
    background-color: rgb(0, 92, 121);
    padding: 10px;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-between;

}

.menu li{
    margin-left: 10px
}

.menu{

    display:flex; /* deixa o texto deitado escrevendo corrido que quebre o texto*/

}

.menu li{
    margin-left: 10px
}

.menu li a{
    display: block; /*cria texto fixo*/
    padding: 10px; /*grossura do quadrado*/
    background-color: rgb(0, 0, 0);

}

h1{

text-align: center;
margin-top: 40px;

}

img{

    max-width:100%;
    display: block;
}

.flex{ /*ordena que irá ter quebra*/

    display: flex;
 flex-wrap: wrap; /*quebra */
max-width:800px;
margin:0 auto;

}

.flex>div{
flex: 1 1 200px;
margin:10px 10px;
}

.grid1 {

    display:grid;
   grid-template-columns: 1fr 1fr 1fr; /*ou*/ /*cria colunas*/
   /*grid-template-columns: repeat (3, 1fr);*/
   max-width: 800px;
   margin: 0 auto;
   grid-gap: 20px; /*espaçamento de imagens*/
}

.grid1>div:nth-child(n + 4){ /* a partir do 4 vai repetir */
 
    background-color: rgb(0, 0, 0);
    color: aqua;
grid-template-columns: 1fr 1fr;
grid-gap: 10px;
align-items: center; 
}

.anuncio{

grid-column: 1;
grid-row: 2/5;
display: block;
}

@media (max-with: 600px){
.grid1{
    grid-template-columns: repeat (2, 1fr);
}
.grid1>div.anuncio{

    grid-column: auto;
    grid-row: auto;
    order: -1;
}

.grid2{
    grid-template-columns: 1fr;
}

.sidebar{

    display: flex;
}

.sidebar>div{

    flex: 1 0 200px;
    margin:0 10px;
}
}
.grid2{

    display: grid;
    grid-template-columns: 1fr 200px; /*fr= fração*/
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.sidebar>div{

    margin-bottom: 10px;
}

.grid3{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.grid3-item:nth-child(1) { /*seleciona a coluna */

     grid-row: 1/3; /* 1 linha com 3 imagens */
}

.grid3-item{

display: grid;
}

.grid3-item img {

grid-column:1;
grid-row: 1/3;
align-self: end;
}

.grid3-item p{ background-color: black;
    padding: 10px;
    color: aqua;
    grid-column: 1;
    grid-row: 2;
    align-self: end;}